.table tbody{
    background-color: white;
}


.table td:first-child, th:first-child,
.table td:last-child, th:last-child{
    text-align: center;
}

.table tbody{
    cursor:pointer;
}

.table td:last-child{
    color: grey;
}
.table td:last-child:hover{
    color: black;
}